<div id="footer" class="panel">
	<div class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">

					<p>&copy 2021 InspiringGroup.</p>
					<p>We are part of the <a href="http://www.insc.tsinghua.edu.cn/">Institute for Network Sciences and Cyberspace</a> at <a href="https://www.tsinghua.edu.cn/">Tsinghua University</a>.</p> 

				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
