<div id="footer" class="panel">
	<div class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">

					<p>&copy 2021 Inspiring Group.</p>
					<p>We are part of the <a href="https://www.physics.leidenuniv.nl/">Leiden Institute of Physics</a> at <a href="https://www.leidenuniv.nl">Leiden University</a>.</p>


				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
